.arco-table {
  flex: 1;
  overflow: hidden;

  .arco-table-tr-empty {
    .arco-table-td {
      border-bottom: none;
    }
  }

  .arco-table-container {
    flex: 1;
  }

  .arco-table-th {
    background: #f1f5fc;
  }

  .arco-pagination {
    .arco-input-wrapper,
    .arco-select {
      border: 1px solid #9993;
    }
  }

  .arco-table-td {
    background-color: #fff;

    .arco-btn-text {
      padding: 0;

      &:hover {
        background-color: transparent;
      }
    }
  }
}
