.chart-main {
    margin-bottom: 10px;

    .chart-title {
        position: relative;
        letter-spacing: 4px;
        margin-bottom: 8px;
        justify-content: center;
        align-items: center;
        width: 400px;
        height: 44px;
        display: flex;
        color: #fff;
        text-align: center;
        font-size: 16px;
        background: url('../image/screen-title2.png') no-repeat;
        background-size: 100% 100%;

        .chart-subtitle {
            letter-spacing: 2px;
            position: absolute;
            right: 10px;
            color: #fff;
            font-size: 12px;
        }
    }

    .chart-item {
        position: relative;
        background: rgb(0 73 124 / 6%);
        margin-bottom: 20px;
    }
}